
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-primaria: #1E201E;
    --cor-secundaria: #697565;
    --cor-terciaria: #ECDFCC;
    --cor-hover:#3C3D37;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Monserrat', sans-serif;
}
*{
    margin:0;
    padding:0;
}
body{
    /*height: 100vh*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}
.cabecalho {
    padding: 5% 0 0 15%;
}
.cabecalho_menu {
display: flex;
gap: 80px;
}

.cabecalho_link{
    font-family:var(--fonte-secundaria);
    font-size: 1,5 rem;
    font-weight: 600;
    color:var(--cor-terciaria) ;
    text-decoration: none;
}
.titulo-destaque{
    color:var(--cor-terciaria);

}
.apresentacao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.apresentacao_conteudo_titulo{
    font-size: 2,25 rem;
    font-family:var(--fonte-primaria);
}
.apresentacao_conteudo_parrafo{
    font-size: 1,5 rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao_link  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_subtitulos{
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 1,5 rem;
}
.apresentacao_link_link{
   /* background-color: #22d4fd; */
   display: flex;
   justify-content: center;
   gap: 16px;
   border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1,5 rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);

}
 .apresentacao_link_link:hover{
    background-color: var(--cor-hover);
 }
.apresentacao_imagen{
    width: 50%;
}
 .rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1,5 rem;
    font-weight: 400;
 }
 @media(max-width:1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao_conteudo{
        width: auto;
    }
 }